body{
    font-family: 'Open Sans', sans-serif;
}
*{
    box-sizing: border-box;
}
a:hover{
    text-decoration: none;
}
nav a{
    font-size: 1.5em;
    text-decoration: none;
    bottom: 10px;
}

section.container>div{
    height: 1000px;
    background-color: #dadbff;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid;
    position: relative;
}
#header-nav {
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
   
}
.sec_title{
    float:right;
    margin-left: 100%;
    border: 1px solid;
    background-color: coral;
    font-size: 1.75em;
    padding: 5px 10px;
}

#nav-list a {
    color: #951C49;
    text-align: center;
    background-color: chartreuse;
}
    

#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list{
    margin-top: 40px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #61122f;
    
}
.nav{
    padding-bottom: 40px;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
.navbar-brand{
    height: auto;
}
.col-xs-12{
    padding-right: 0px;
}
@media (max-width:767px){
    #nav-list a{
        border: 1px solid;
    }
}
